#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.shopping{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  width: 40%;
  height: 100%;
}
.store{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-summary h3, .cart-summary p {
  margin: 0;
}
